:root {
  --primitives-color-fabada-100: #FFF8FB;
  --primitives-color-fabada-200: #FEECF5;
  --primitives-color-fabada-300: #FDE0EE;
  --primitives-color-fabada-400: #FCD3E8;
  --primitives-color-fabada-500: #FABADA;
  --primitives-color-fabada-600: #CB97B1;
  --primitives-color-fabada-700: #9E768A;
  --primitives-color-fabada-800: #725563;
  --primitives-color-fabada-900: #45343D;
  --primitives-color-fabada-1000: #191316;
}