:root {
  --core-color-blue-10: #F3F5F7;
  --core-color-blue-20: #C4CCD5;
  --core-color-blue-30: #94A4B3;
  --core-color-blue-40: #657B91;
  --core-color-blue-50: #36526F;
  --core-color-blue-60: #123456;
  --core-color-blue-70: #0C2238;
  --core-color-blue-80: #081727;
  --core-color-blue-90: #050D16;
  --core-color-blue-100: #010304;
}