$color-primary-base: #ff0000;
$color-primary-lightest: #ffcccc;
$color-primary-lighter: #ff9999;
$color-primary-light: #ff6666;
$color-primary-dark: #990000;
$color-primary-darker: #660000;
$color-primary-darkest: #330000;
