$brand-secondary-base: #ff0000;
$brand-secondary-lightest: #ffcccc;
$brand-secondary-lighter: #ff9999;
$brand-secondary-light: #ff6666;
$brand-secondary-dark: #990000;
$brand-secondary-darker: #660000;
$brand-secondary-darkest: #330000;
