:root {
  --shadow-xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  --shadow-sm: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  --shadow-md: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  --shadow-xl: 0px 12px 24px 0px rgba(0, 0, 0, 0.15);
  --shadow-xs-inner: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  --shadow-sm-inner: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  --shadow-md-inner: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  --shadow-lg-inner: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  --shadow-xl-inner: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}
